.gameContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 85vh;
}

.gameContainer .btn {
  width: 30vw;
}

.chalContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 80%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.question {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: fantasy;
  margin: 0 auto 1% auto;
  font-size: 5vw;
  text-align: center;
  color: mediumvioletred;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
}

.options span {
  width: 15vw;
  height: 6vh;
  font-size: 1.5em;
  line-height: 5vh;
  text-align: center;
  color: indigo;
  font-family: fantasy;
  margin: 1%;
  background: violet;
  border: 4px outset silver;
}

.btnsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.btnsContainer .btn {
  width: 30vw;
}

.message {
  border: 10px ridge silver;
  border-radius: 15px;
  color: silver;
  font-family: fantasy;
  font-size: 5vh;
  text-align: center;
  background: mediumvioletred;
  width: 80%;
  height: 20vh;
  display: block;
  bottom: 50%;
  position: fixed;
  left: 10%;
}

.balloon {
  max-width: 100px;
  max-height: 150px;
  display: block;
}

@media (max-width: 550px) {
  .balloon {
    max-width: 80px;
    max-height: 100px;
  }
}

@keyframes flyAndScale {
  0% {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 100%) scale(2);
    opacity: 0.4;
  }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
  }
}

.flyAndScale_0 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.flyAndScale_1 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.flyAndScale_2 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.flyAndScale_3 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.flyAndScale_4 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.flyAndScale_5 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.flyAndScale_6 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.flyAndScale_7 {
  animation-name: flyAndScale;
  animation-play-state: running;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

@keyframes floatLightly {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  25% {
    transform: translate(-50%, 50%) scale(0);
  }
  50% {
    transform: translate(-50%, 50%) scale(1.5);
  }
  75% {
    transform: translate(-50%, 50%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.floatLightly_0 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.floatLightly_1 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.floatLightly_2 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.floatLightly_3 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.floatLightly_4 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.floatLightly_5 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.floatLightly_6 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.floatLightly_7 {
  animation-name: floatLightly;
  animation-play-state: running;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

@keyframes fly {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(50%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.fly_0 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.fly_1 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.fly_2 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.fly_3 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.fly_4 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.fly_5 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.fly_6 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.fly_7 {
  animation-name: fly;
  animation-play-state: running;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

.exerecise {
  background: gray;
  border: 3px inset silver;
  font-family: fantasy;
  text-align: center;
  color: indigo;
  flex-grow: 1;
  width: 33vw;
  min-height: 10vh;
  font-size: 2em;
}

span {
  width: 80%;
  margin: auto;
  text-align: center;
}

.optionChal3 {
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-family: fantasy;
  background-color: violet;
  border: 4px outset silver;
  margin: 1%;
  color: indigo;
  height: 6vh;
}

.chal4pic {
  background-image: url("../../img/pictures/numbers-and-animals.jpg");
  background-size: contain;
  margin: 2% 0 14% -2px;
  width: 100%;
  height: 43%;
}

.num {
  width: 48px;
  height: 48px;
  background-color: orangered;
  color: blue;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  margin-right: 0.5%;
}

.space {
  width: 48px;
  height: 48px;
  background-color: transparent;
  color: transparent;
  display: inline-block;
}

.numbersSeries {
  border: 5px ridge silver;
  padding: 5px 15px 15px 15px;
  padding: 0 !important;
}

.numsRow {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.gContainer {
  height: 176vh;
  padding: 0 25px;
}

.numsToDrag {
  float: right;
  background-color: transparent;
  border: 4px dotted silver;
  padding: 0 !important;
  float: right !important;
}

.gContainer .startBtn {
  width: 80%;
  margin: 0 auto 2% auto;
  line-height: 3vh;
  display: flex;
  padding-left: 23%;
}

#numsToDrag .num {
  margin: 8.5% 0;
}

@media (min-width: 768px) {
  .numsRow {
    padding: 0;
  }
  .numsToDrag {
    padding: 0 15px !important;
  }
  .numsToDrag .num {
    margin: 6% !important;
  }
  .gContainer .startBtn {
    padding-left: 38%;
  }
}
