h1 {
    text-align: center;
    width: 50%;
    border-style: outset;
    left: 25px;
    position: absolute;
    background-color: green;
    border-color: darkgreen;
    font-size: 40px;
}

td {
    height: 35px;
    width:  35px;
    text-align: center;
    border-style: outset;
    border-color: darkgreen;
    background-color: green;
    border-width: 1px;
}

tables {
    position: absolute;
    left: 50%
}

.table1 {
    top: 105px;
    position: absolute;
    left: 10%;
    
    background-color: green;
}

.table2 {
    top: 105px;
    position: absolute;
    left: 30%;
    background-color: green;
}

.marked {
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    
    background-color:green;
    
}
button {
    position: absolute;
    /*left: 76px;*/
    left: 22%;
    
    top: 320px;
}
.restart {
    left:224px;
}
.numbers {
    background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(green));
    background-image: -webkit-linear-gradient(top, white, green);
    background-image: -moz-linear-gradient(top, white, green);
    background-image: linear-gradient(to bottom, white, green);
    
    height: 250px;
    text-align: center;
    left: 25px;
    top: 350px;
    width: 50%;
    position: absolute;
    font-size: 25px;
    border: 5px outset green;
}