header #logo {
  height: 2.9em;
}

body {
  background-image: linear-gradient(to bottom, indigo, silver);
}

h1 {
  color: gold;
}

.userName {
  width: 100%;
  padding: 2px;
  border-radius: 6px;
  background-color: #777;
  color: indigo;
  border: 2px solid silver;
}

.chals .chal {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 10em;
  height: 10em;
  line-height: 10em;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: white;
  background: #4f81bd;
  border: 3px solid #385d8a;
  margin: 1em;
  display: inline-block;
  margin: auto;
}

.chals .completedIcon {
  color: yellowgreen;
  font-size: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 4px;
  left: 49px;
}

.chals .chalLockImg {
  height: 67px;
  left: 49%;
  position: absolute;
  margin-top: -28px;
}

.chals div {
  display: flex;
  margin: 20px 0;
}

.content {
  padding: 10px;
}

.content .progress {
  width: 200px;
  border: 2px solid silver;
}

.content .progressLabel {
  color: black;
  text-align: center;
}

.btnsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.btnsContainer .btn {
  width: 30vw;
}

.btnContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.btnContainer .btn {
  width: 30vw;
}

#levelPicker {
  font-weight: 900;
  background-color: teal;
  color: indigo;
  border-radius: 5px;
}

footer {
  background-color: indigo;
  text-align: center;
  color: silver;
  width: 100vw;
}
