$mainColor: silver;
$headersColor:#286090;

.modal {
  color: #286090;
}

main {
  // padding: 1vh 10vh 0 10vh;
  min-height: 80vh;
  // background-color: #286090;
  // color: silver
  
}
.mainNav{
  background-color: $headersColor;
  .logo{
        display: inline;
  }
  .collapse{
    padding-top: 16px;
  }
  .navbar-brand{
    color: silver;
    padding-top: 31px;
    &:hover {
      color: white;
    }
  }
  .navbar-toggle{
    margin-top: 23px;
  }
  .nav li a {
    color: silver;
  }
  .nav li a:hover{
    color: white;
  }
}

footer {
  background-color: silver ;
  text-align: center;
  color: #286090;
}

@import 'passenger';
@import 'planes';
@import 'index'; 