.exerecise {
    background: gray;
    border: 3px inset silver;
    font-family: fantasy;
    text-align: center;
    color: indigo;
    flex-grow: 1;
    width: 33vw;
    min-height: 10vh;
    font-size: 2em;
    
} 



