
   span {
      width: 80%;
      margin: auto;
      text-align: center;
   }   


.optionChal3 {
   width:80vw;
   margin: auto;
   text-align: center;
   font-size: 2rem;
   font-family: fantasy;
   background-color: violet;
   border: 4px outset silver;
   margin: 1%;
   color: indigo;
   height: 6vh;


}