.track {
    position: absolute;
    bottom: 200px;
}

.car0 {
    position: absolute;    
}

.car1 {
    position: absolute;
}

.finishLine{
    background-color: red;
    height: 650px;
    width: 5px;
    left: 1280px;
    position: absolute;
}